.elementor-1553
  .elementor-element.elementor-element-385ae4ef
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1553
  .elementor-element.elementor-element-385ae4ef
  > .elementor-background-overlay {
  opacity: 0.55;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1553 .elementor-element.elementor-element-385ae4ef {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-1553
  .elementor-element.elementor-element-385ae4ef.elementor-section {
  padding: 75px 0px 0px 0px;
}
.elementor-1553
  .elementor-element.elementor-element-40c4f863
  > .elementor-element-populated {
  margin: -65px 0px 0px 0px;
}
.elementor-1553 .elementor-element.elementor-element-45eba6d3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-1553
  .elementor-element.elementor-element-211ad487:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-1553
  .elementor-element.elementor-element-211ad487
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-211ad487
  > .elementor-element-populated,
.elementor-1553
  .elementor-element.elementor-element-211ad487
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1553
  .elementor-element.elementor-element-211ad487
  > .elementor-background-slideshow {
  border-radius: 8px 8px 8px 8px;
}
.elementor-1553
  .elementor-element.elementor-element-211ad487
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
}
.elementor-1553
  .elementor-element.elementor-element-211ad487
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1553
  .elementor-element.elementor-element-211ad487
  > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
  padding: 1em 1em 1em 1em;
}
.elementor-1553
  .elementor-element.elementor-element-69fb7e1
  .elementor-image:hover
  img {
  opacity: 0.6;
}
.elementor-1553
  .elementor-element.elementor-element-69fb7e1
  .elementor-image
  img {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-69fb7e1
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1553
  .elementor-element.elementor-element-729f2a3:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-1553
  .elementor-element.elementor-element-729f2a3
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-729f2a3
  > .elementor-element-populated,
.elementor-1553
  .elementor-element.elementor-element-729f2a3
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1553
  .elementor-element.elementor-element-729f2a3
  > .elementor-background-slideshow {
  border-radius: 8px 8px 8px 8px;
}
.elementor-1553
  .elementor-element.elementor-element-729f2a3
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
}
.elementor-1553
  .elementor-element.elementor-element-729f2a3
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1553
  .elementor-element.elementor-element-729f2a3
  > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
  padding: 1em 1em 1em 1em;
}
.elementor-1553
  .elementor-element.elementor-element-571779d
  .elementor-image:hover
  img {
  opacity: 0.6;
}
.elementor-1553
  .elementor-element.elementor-element-571779d
  .elementor-image
  img {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-3493a0de:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-1553
  .elementor-element.elementor-element-3493a0de
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-3493a0de
  > .elementor-element-populated,
.elementor-1553
  .elementor-element.elementor-element-3493a0de
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1553
  .elementor-element.elementor-element-3493a0de
  > .elementor-background-slideshow {
  border-radius: 8px 8px 8px 8px;
}
.elementor-1553
  .elementor-element.elementor-element-3493a0de
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
}
.elementor-1553
  .elementor-element.elementor-element-3493a0de
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1553
  .elementor-element.elementor-element-3493a0de
  > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
  padding: 1em 1em 1em 1em;
}
.elementor-1553
  .elementor-element.elementor-element-abffbbc
  .elementor-image:hover
  img {
  opacity: 0.6;
}
.elementor-1553
  .elementor-element.elementor-element-abffbbc
  .elementor-image
  img {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-40923b8d:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-1553
  .elementor-element.elementor-element-40923b8d
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-40923b8d
  > .elementor-element-populated,
.elementor-1553
  .elementor-element.elementor-element-40923b8d
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1553
  .elementor-element.elementor-element-40923b8d
  > .elementor-background-slideshow {
  border-radius: 8px 8px 8px 8px;
}
.elementor-1553
  .elementor-element.elementor-element-40923b8d
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
}
.elementor-1553
  .elementor-element.elementor-element-40923b8d
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1553
  .elementor-element.elementor-element-40923b8d
  > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
  padding: 1em 1em 1em 1em;
}
.elementor-1553
  .elementor-element.elementor-element-6bb05bdb
  .elementor-image:hover
  img {
  opacity: 0.6;
}
.elementor-1553
  .elementor-element.elementor-element-6bb05bdb
  .elementor-image
  img {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-52f085fd:not(.elementor-motion-effects-element-type-background)
  > .elementor-column-wrap,
.elementor-1553
  .elementor-element.elementor-element-52f085fd
  > .elementor-column-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-52f085fd
  > .elementor-element-populated,
.elementor-1553
  .elementor-element.elementor-element-52f085fd
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-1553
  .elementor-element.elementor-element-52f085fd
  > .elementor-background-slideshow {
  border-radius: 8px 8px 8px 8px;
}
.elementor-1553
  .elementor-element.elementor-element-52f085fd
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
}
.elementor-1553
  .elementor-element.elementor-element-52f085fd
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1553
  .elementor-element.elementor-element-52f085fd
  > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
  padding: 1em 1em 1em 1em;
}
.elementor-1553
  .elementor-element.elementor-element-5706f3c2
  .elementor-image:hover
  img {
  opacity: 0.6;
}
.elementor-1553
  .elementor-element.elementor-element-5706f3c2
  .elementor-image
  img {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
}
.elementor-1553
  .elementor-element.elementor-element-7f9f65a3
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-1553
  .elementor-element.elementor-element-7f9f65a3:not(.elementor-motion-effects-element-type-background),
.elementor-1553
  .elementor-element.elementor-element-7f9f65a3
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("/wp-content/uploads/2020/12/pattern1.jpg");
}
.elementor-1553
  .elementor-element.elementor-element-7f9f65a3
  > .elementor-background-overlay {
  background-color: #131423;
  opacity: 0.97;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1553 .elementor-element.elementor-element-7f9f65a3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-1553
  .elementor-element.elementor-element-7f9f65a3.elementor-section {
  padding: 20px 0px 20px 0px;
}
.elementor-1553
  .elementor-element.elementor-element-3e82f44
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
}
.elementor-1553
  .elementor-element.elementor-element-3e82f44
  > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
  padding: 0em 0em 0em 0em;
}
.elementor-1553
  .elementor-element.elementor-element-2c2de2a3
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-1553 .elementor-element.elementor-element-2c2de2a3 {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #161616;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-1553
  .elementor-element.elementor-element-2c2de2a3
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1553
  .elementor-element.elementor-element-2c2de2a3.elementor-section {
  padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-1553
  .elementor-element.elementor-element-17ff578a.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-1553
  .elementor-element.elementor-element-17ff578a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-1553
  .elementor-element.elementor-element-17ff578a
  > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
  padding: 3em 2em 0em 0em;
}
.elementor-1553 .elementor-element.elementor-element-78b9035d {
  text-align: left;
}
.elementor-1553
  .elementor-element.elementor-element-78b9035d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
  .elementor-1553
  .elementor-element.elementor-element-235ec34c.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-1553
  .elementor-element.elementor-element-235ec34c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-1553
  .elementor-element.elementor-element-235ec34c
  > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
  padding: 3em 2em 0em 0em;
}
.elementor-1553
  .elementor-element.elementor-element-c8f98de
  .elementor-text-editor {
  text-align: left;
}
.elementor-1553 .elementor-element.elementor-element-c8f98de {
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0px;
}
.elementor-bc-flex-widget
  .elementor-1553
  .elementor-element.elementor-element-7289823f.elementor-column
  .elementor-column-wrap {
  align-items: flex-start;
}
.elementor-1553
  .elementor-element.elementor-element-7289823f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-column-wrap.elementor-element-populated
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-1553
  .elementor-element.elementor-element-7289823f
  > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
  padding: 3em 2em 0em 0em;
}
.elementor-1553
  .elementor-element.elementor-element-67ced2c
  .elementor-text-editor {
  text-align: left;
}
.elementor-1553 .elementor-element.elementor-element-67ced2c {
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  line-height: 2.3em;
  letter-spacing: 0px;
}
.elementor-1553 .elementor-element.elementor-element-965ea42 {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 1px;
}
.elementor-1553
  .elementor-element.elementor-element-965ea42
  .elementor-divider-separator {
  width: 100%;
}
.elementor-1553
  .elementor-element.elementor-element-965ea42
  .elementor-divider {
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-1553
  .elementor-element.elementor-element-b5a68b0
  .elementor-text-editor {
  text-align: center;
}
.elementor-1553 .elementor-element.elementor-element-b5a68b0 {
  color: #ffffff;
  font-family: "Rubik", Sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.7em;
  letter-spacing: 2px;
}
.elementor-1553
  .elementor-element.elementor-element-df9c3aa
  .elementor-spacer-inner {
  height: 50px;
}
.elementor-widget .tippy-tooltip .tippy-content {
  text-align: center;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1553 .elementor-element.elementor-element-17ff578a {
    width: 33%;
  }
  .elementor-1553 .elementor-element.elementor-element-235ec34c {
    width: 33%;
  }
  .elementor-1553 .elementor-element.elementor-element-7289823f {
    width: 33%;
  }
}
@media (max-width: 1024px) {
  .elementor-1553
    .elementor-element.elementor-element-385ae4ef.elementor-section {
    padding: 100px 25px 100px 25px;
  }
  .elementor-1553
    .elementor-element.elementor-element-40c4f863
    > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1553
    .elementor-element.elementor-element-7f9f65a3.elementor-section {
    padding: 1em 1em 3em 1em;
  }
  .elementor-1553
    .elementor-element.elementor-element-235ec34c
    > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
    padding: 3em 1em 1em 0em;
  }
  .elementor-1553
    .elementor-element.elementor-element-7289823f
    > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
    padding: 3em 1em 1em 0em;
  }
}
@media (max-width: 767px) {
  .elementor-1553
    .elementor-element.elementor-element-385ae4ef.elementor-section {
    padding: 50px 20px 50px 20px;
  }
  .elementor-1553
    .elementor-element.elementor-element-7f9f65a3.elementor-section {
    padding: 3em 1em 3em 1em;
  }
  .elementor-1553
    .elementor-element.elementor-element-17ff578a
    > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
    padding: 1em 1em 1em 1em;
  }
  .elementor-1553
    .elementor-element.elementor-element-235ec34c
    > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
    padding: 1em 1em 1em 1em;
  }
  .elementor-1553
    .elementor-element.elementor-element-c8f98de
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-1553 .elementor-element.elementor-element-c8f98de {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .elementor-1553
    .elementor-element.elementor-element-7289823f
    > .elementor-element-populated.elementor-element-populated.elementor-element-populated {
    padding: 1em 1em 1em 1em;
  }
  .elementor-1553
    .elementor-element.elementor-element-67ced2c
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-1553 .elementor-element.elementor-element-67ced2c {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .elementor-1553
    .elementor-element.elementor-element-b5a68b0
    .elementor-text-editor {
    text-align: center;
  }
  .elementor-1553 .elementor-element.elementor-element-b5a68b0 {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .elementor-1553
    .elementor-element.elementor-element-b5a68b0
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
} /* Start custom CSS for section, class: .elementor-element-7f9f65a3 */
#new_footer {
  margin-bottom: -70px;
} /* End custom CSS */
